<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript">
	var app = angular.module('myApp', []);
	app.controller('myCtrl', function($scope, $http) {
		$scope.click = function() {
			var url = "/yak-shop/order/14";
			$scope.nameMsg = null;
			$scope.orderMsg = null;
			$scope.skinMsg = null;
			var nameData = $scope.name;
			var milkData = $scope.milk;
			if(milkData == null || milkData == undefined){ milkData = 0;}
			var skinData = $scope.skin;
			if(skinData == null || skinData == undefined){ skinData = 0;}
			if(nameData == null) {
				$scope.nameMsg = "Plese enter your Name.";
				return;
			}
			if(milkData == 0 && skinData == 0) {
				$scope.orderMsg = "Plese order at least one out of Milk & Wool.";
				return;
			} else {
				var regEx = /^\d+$/;
				if(!regEx.test(skinData)) {
					$scope.skinMsg = "Skin count must be an integer.";
					return;
				}
			}
			
			var parameter = JSON.stringify({customer:nameData, order:{milk:milkData, skin:skinData}});
			$http.post(url, parameter).
		    success(function(data, status, headers, config) {
		        // this callback will be called asynchronously
		        // when the response is available
		        $scope.orderProcessed = "Order processed: ";
		        $scope.orderResult = data;
		      }).
		      error(function(data, status, headers, config) {
		        // called asynchronously if an error occurs
		        // or server returns response with an error status.
		      });
		}
	});
</script>
<body>
	<div ng-app="myApp" ng-controller="myCtrl" align="center" style="margin-top: 10%; margin-right: 10%; width: 50%; background-color:silver;margin-left: 20%; border-color: black;border-style: solid;" >
	<h3 align="center">The Yak Shop</h3>
	<table>
		<tr>
			<td>Enter your Name: </td>
			<td><input ng-model="name" type="text" size="20"/></td>
			<td width="40%" style="color: red;">{{nameMsg}}</td>
		</tr>
		<tr>
			<td class="3">Put you order here</td>
		</tr>
		<tr>
			<td>Milk: </td>
			<td><input ng-model="milk" type="number" size="20"/></td>
		</tr>
		<tr>
			<td>Wool: </td>
			<td><input ng-model="skin" type="number" size="20"/></td>
			<td width="40%" style="color: red;" align="left">{{skinMsg}}</td>
		</tr>
		<tr>
			<td colspan="3" align="left" height="20px" style="color: red;">{{orderMsg}}</td>
		</tr>
		<tr>
			<td colspan="3">You are about to place an order as below:<br>1. Milk: {{milk}}<br>2. Skin: {{skin}}</td>
		</tr>
		<tr>
			<td colspan="2" align="center"><button ng-click="click()">Confirm Order</button></td>
		</tr>
		<tr><td colspan="3" align="center" height="20px" style="color: green;">{{orderProcessed}}{{orderResult}}</td></tr>
	</table>
	</div>
</body>
</html>